.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 737px;
}

.u-section-1 .u-list-1 {
  min-height: 324px;
  width: 469px;
  height: auto;
  grid-auto-rows: 100%;
  margin: 192px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-auto-rows: 100%;
  grid-gap: 21px 21px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 125px;
  width: 125px;
  color: rgb(137, 216, 227) !important;
  margin: 7px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 17px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 7px -15px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.875rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-list-1 {
    min-height: 355px;
    width: 453px;
    margin-top: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-1 .u-list-1 {
    min-height: 373px;
    width: 912px;
    margin-right: -322px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10.5px);
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-list-1 {
    width: 886px;
    margin-right: -401px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 317px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}