.u-section-1 .u-sheet-1 {
  min-height: 536px;
}

.u-section-1 .u-image-1 {
  width: 338px;
  height: 228px;
  margin: 56px auto 0 95px;
}

.u-section-1 .u-image-2 {
  width: 359px;
  height: 239px;
  margin: -38px 117px 51px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 2px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 226px;
    margin-right: 0;
  }
}